<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="/Css/Styles.css">

</head>
<body>
    <header>   
            <div class="container">

                <div class="imagen">
                    <div class="logoml"><img src="/images/logo-mercado-liebre.svg" alt="Aquí va una foto"></div>
                </div> 
                
                <div class="detail">
                
                    <div class="barra-busqueda">Buscar productos, marcas</div>

                    <span class="buscar-lupa">

                        <i class="fas fa-search"></i>

                    </span>

                  
                   
                    <div class="cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</div>
                    
                </div>

                </div>
            </div>

            <nav>

         

            
                <section class="listauno">
                <div><a href=>Ofertas</a></div>
                <div><a href=>Tiendas Oficiales</a></div>
                <div><a href=>Vender</a></div>
                <div><a href=>Ayuda</a></div>
            </section>
            
                <br> <!--Salto de linea-->
           

            <section class="listados">

                <div><span><a href=>Créa tu cuenta</a> </span> <i class= "fas fa-id-card"></i> </div>
                <div><span><a href=>Ingresá</a></span> <i class="fas fa-sign-in-alt"></i></div>
                <div><span><a href=>Mis compras</a></span> <i class="fas fa-shopping-basket"></i></div>
            </section>
            
           

            <div class="burguer"><i class="fa fa-bars burger"></i></div>

            
            </nav>
            
        </header>

            <main>

                <div class="banner"><img src="/images/img-home-banner.jpg"  alt="Aquí va una foto"></div>
                <section>
                    <h2>Basado en tu última visita</h2>

                <article>
                    
                
                    <img src="/images/img-cafetera-moulinex.jpg" class= "fotos-todas">

                <div class ="detalle">
                    
                    <i class="fas fa-truck"></i>
                 
                    <div class="precio">$6.770</div>
                    <div class="descuento">40% OFF</div>
                    <div class="nombre">Cafetera Moulinex</div>
                    
                    
                </div>
                </article>

                
            
        
                <article>
                    
                
                    <img src="/images/img-macbook-pro-2019.jpg" width="200" height="200">
                
            <div class ="detalle">

                    <i class="fas fa-truck"></i>
                    <div class= "precio">$230.000</div>
                    <div class= "descuento">20% OFF</div>    
                    <div class= "nombre">Macbook Pro 2019</div>
                </div>
                </article>

           
          
                <article>
                    
                
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="200" height="200">
                
                    <div class ="detalle">

                    <i class="fas fa-truck"></i>
                    <div class= "precio">$70.500</div>
                    <div class= "descuento">10% OFF</div>
                    <div class= "nombre">Samsung Galaxy S10</div>

                </div>
                </article>
          
                <article>
                    
                
                    <img src="/images/img-tv-samsung-smart.jpg" width="200" height="200">
                
                    <div class ="detalle">

                    <i class="fas fa-truck"></i>    
                    <div class= "precio">$23.200</div>
                    <div class= "descuento">5% OFF</div>
                    <div class= "nombre">SmartTv Samsung 43</div>
              </div>

                </article>

            </section>

            <section>

                <h2>Ofertas</h2>

                    <article>
                                            
                        <img src="/images/img-cafetera-moulinex.jpg" class= "fotos-todas">
                    
                    <div class ="detalle">

                        <i class="fas fa-truck"></i>
                        <div class= "precio">$6.770</div>
                        <div class= "descuento">40% OFF</div>
                        <div class= "nombre">Cafetera Moulinex</div>

                    </div>

                    </article>
                
                    <article>
                        
                    
                        <img src="/images/img-macbook-pro-2019.jpg" width="200" height="200">
                    
                        <div class ="detalle">

                        <i class="fas fa-truck"></i>
                        <div class= "precio">$230.000</div>
                        <div class= "descuento">20% OFF</div>
                        <div class= "nombre">Macbook Pro 2019</div>

                        </div>

                    </article>
              
                    <article>
                       
                    
                        <img src="/images/img-samsung-galaxy-s10.jpg" width="200" height="200">
                    
                        <div class ="detalle">

                        <i class="fas fa-truck"></i>
                        <div class= "precio">$70.500</div>
                        <div class= "descuento">10% OFF</div>
                        <div class= "nombre">Samsung Galaxy S10</div>

                        </div>

                    </article>
             
                    <article>
                        
                    
                        <img src="/images/img-tv-samsung-smart.jpg" width="200" height="200">
                    
                   <div class ="detalle"> 

                        <i class="fas fa-truck"></i>
                        <div class= "precio">$23.200</div>
                        <div class= "descuento">5% OFF</div>
                        <div class= "nombre">SmartTv Samsung 43"</div>

                    </div>

                    </article>
    
                </section>               
    
                 
            </main>


            <footer>

                <!--FOOTER-->
            <section>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
            </section>

            <!--FOOTER-->

            <section>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <!--FOOTER-->

            <section>

                <i class="fas fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                    </p>

            <!--FOOTER-->

            </section>

            <section class="copy"> <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>  </section>

                

            </footer>

           

    

 





</body>
</html>