<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!--<link href="link rel="preconnect" href="https://fonts.gstatic.com">-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">-->

    <link rel= "stylesheet" href= "/css/normalize.css">
    <script src="https://kit.fontawesome.com/04cb19a8c5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
  


</head>
<body>
    <header class = "main-header">  

        <div class="main-header-top-bar">             
             <img src="/images/logo-mercado-liebre.svg" class= "logo">
             <form action="" method="POST" class="search-bar"><!--Para algo sensible o crear producto. En formularios conviene usar POST antes de GET-->
                <div class="search">        
                    <input type="text" placeholder="Buscar productos, marcas y más" name="buscar" class="busqueda" >  <!--" name": Poder identificar bien a donde va cada dato. Muy importante-->
                    <i class="fas fa-search"></i>
                </div>
            </form>            
             <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito            
            </h2>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>


        <nav class="main-navbar"> 
            
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        
        <ul class="right-navbar">
            <li><a href="#"></i>Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
            <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        
        
        
        </nav>


        </header>




        <div class="banner"><img src="/images/img-home-banner.jpg"  alt="banner">
        </div>

            <main>

            <!--Creo Formulario -->

                <form action="#" method="POST" class="formlogin">

                    <div class="control-formulario">
                        <label>Nombre de usuari@:</label>
                        <input type="email" name="nombre" class="controllog"> </input>
                    </div>
    
                    <div class="control-formulario">
                        <label>Contraseña:</label>
                        <input type="password" name="contraseña" class="controllog" > </input>
                    </div>
    
                    <div>
                        <input type="submit" value="Enviar" class="boton-login">
                    </div>
    
    
    
                     
    
                </form>
    

                 
            </main>


            <footer>

                <!--FOOTER-->
        <div class="columnas">
            <section>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
            </section>

            <!--FOOTER-->

            <section>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <!--FOOTER-->

            <section>

                <i class="fas fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                    </p>

            <!--FOOTER-->

            </section>

        </div>

            <section class="copy"> <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>  </section>

                

            </footer>

           

  

 





</body>
</html>