<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!--<link href="link rel="preconnect" href="https://fonts.gstatic.com">-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">-->

    <link rel= "stylesheet" href= "/css/normalize.css">
    <script src="https://kit.fontawesome.com/04cb19a8c5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
  


</head>
<body>
    <header class = "main-header">  

        <div class="main-header-top-bar">             
            <a href="/"><img src="/images/logo-mercado-liebre.svg" class= "logo"></a>      
             <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito            
            </h2>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>


        <nav class="main-navbar"> 
            
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        
        <ul class="right-navbar">
            <li><a href="/register"></i>Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        
        
        
        </nav>


        </header>
      

            <main>
                <form action="" method="POST" class="formregister">

                <div class="cformreg">
                    <label >Nombre y Apellido:</label>
                    <input type="text" name="nombre" class="controlreg"> </input>
                </div>                    

                <div class="cformreg">
                    <label >Nombre de usuario:</label>
                    <input type="text" name="nombreusuario" class="controlreg"></input>
                </div>

                <div class="cformreg">
                    <label >Fecha de nacimiento:</label>
                    <input type="date" name="fechanacimiento" class="controlreg"></input>
                </div>

                <div class="cformreg">
                    <label>Domicilio:</label>
                    <input type="text" name="domicilio" class="controlreg"> </input>
                </div>

                <div class="cformreg">
                        <label>Perfil de usuario:</label>
                        <input type="radio" name="perfil" class="perfiles">Comprador</input>
                        <input type="radio" name="perfil" class="perfiles" >Vendedor</input>
                </div>

                <div class="cformreg">
                        <label>Categorías de interes:</label>
                   
                        <div><input type="checkbox" name="categoria" class="categoria">Electro</input></div>
                        <div><input type="checkbox" name="categoria" class="categoria">Moda</input></div>
                        <div><input type="checkbox" name="categoria" class="categoria">Hogar</input></div>
                        <div><input type="checkbox" name="categoria" class="categoria">Juguetería</input></div>
                        <div><input type="checkbox" name="categoria" class="categoria">Vida sana</input></div>
                </div>

                <div class="cformreg">
                        <label >Foto de usuario:</label>
                        <input type="file" name="foto" class="foto" accept=".JPG"></input>
                </div>

                <div class="cformreg">
                        <label >Contraseña:</label>
                        <input type="password" name="contraseña" class="controlreg" pattern="[A-z]{6,8}" placeholder="Recuerda elegir una contraseña segura"></input>
                        <P>Debe contener entre 6 y 8 caracteres,mayúsculas y minúsculas.</P>
                </div>

                <div class="cformreg">
                        <label>Confirmar contraseña:</label>
                        <input type="password" name="confirmar" class="controlreg" pattern="[a-z]{8}"></input>
                </div>

                <div class="botones-register">

                <input type="submit" value="Enviar" class="enviar">                      
                <input type="reset" value="Borrar" class="borrar"> 

                </div> 
            
            </form>                  
                               
                 
            </main>


            <footer>

                <!--FOOTER-->
    <div class="columnas">
            <section>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
            </section>

            <!--FOOTER-->
        
            <section>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <!--FOOTER-->

            <section>

                <i class="fas fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                    </p>

            <!--FOOTER-->

            </section>
        </div>  

            <section class="copy"> <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>  </section>

                

            </footer>

           

  

 





</body>
</html>