
/*Cuerpo de texto*/

*{
    margin:0px;
    padding: 0px;;
    box-sizing: border-box;


}

body{

font-size: 12px;
font-family: 'Roboto', sans-serif;
background-color: rgba(128, 128, 128, 0.171)

}

header {

font-size: 12px;
background-color: #EAC926;
padding: 20px;
font-family: 'Roboto', sans-serif;

}


main  h2{

font-size: 24px;
color: gray;
text-align: center;
padding: 5px;


}



nav{

    text-align: left;
 
 
   

}

main {

    width: 90%;
    margin: 0 auto;
   


}

article{

text-align: center;
margin: 0 auto;
margin:10px;
background-color: white;




}



footer {

font-size:12px ;
text-align: center;
margin-top: 50px;

}

footer i{

    
    font-size: 2em;
    color:#1259c3;
    

}

footer p{

    margin-bottom: 20px;




}

footer h3{
    margin-bottom: 1px;
}

.logoml{

    width:200px;
    margin-left: 40px;
    padding-top: 40px;
    padding-bottom: 20px;

}

.barra-busqueda{

    width: 70%;

    background-color: white;
    margin-left: 40px;
    box-sizing: border-box;
    width:180p;   
    color:#666;
    border-style: solid;
    


}

.buscar-lupa{

    margin-left: 40px;
   background-color: white;
   border-style: solid;



}
.cuotas{

    text-align: center;
    margin-top: 20px;
    font-size: 25px;


}


.banner img{

    
    width: 100%;
   
}


.segunda-lista{

    margin-bottom: 20px;

}

.burguer {


font-size: 1em;
display: flex;
align-items: center;
justify-content: center;
width: 35px;
height: 35px;
margin:auto;



border-style: solid 1px #1259c3;
border-radius:4px;
color: white;
background-color:#03264C;;
padding: 12px;

}

.fotos-todas{

    width: 100%;




}
.precio{

    font-size: 18px;
  

}

.descuento{

    font-size: 16px;
    color:rgba(11, 128, 0, 0.932);
    margin-bottom: 10px;
    

}

.nombre{

    font-size: 16px;


}

.copy{

text-align: left;


}

.detalle i{


    color:rgba(11, 128, 0, 0.932);
       
    font-size: 20px;

   
    
   


}

.detalle {

    border-top: 1px solid #ebebeb;
    padding: 15px;
    text-align: left;
   
  
      
}

@media (min-width: 361px){

    .nombre {display: none;}


   article { box-shadow: 0px 0px 10px rgb(100, 100, 100);
   

}

       .listauno,
    .listados {display:none}





   }



@media (min-width: 769px){

    .burguer {display:none}

    


}





